<!DOCTYPE html>
    <html class="ltr" dir="ltr" lang="es-ES">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=100">        
        <title>Iniciar Sesion | Dashboard | Interbank</title>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />        
        
        <link href="css/fonts.css" rel="stylesheet" type="text/css" /> 
        <link href="css/principal.css" rel="stylesheet" type="text/css" /> 
        <link href="css/button.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>                      
    </head>


    <body class="container">
      <!-- Header -->
      <div class="main">
          <div class="header">
              <div class="logo">
                  <a href="/" title="Interbank - el tiempo vale mas que el dinero">
                      <img src="/images/logo.gif" alt="Interbank" />
                  </a>
              </div>
          </div>
      </div>
      <!-- End Header -->
        
      <!-- Page -->    
      <div id="form-login" class="container">
        <div class="row main-form">          
          <div class="main-login main-center">
           <h3 class="text-muted">¡ Bienvenido !</h3>
            <form class="form-horizontal" method="post" action="/login">            

              <div class="form-group">
                <div class="cols-sm-12">
                    <input type="text" class="ibk_input ibk_input_tp0" name="username" id="username"  placeholder="Ingresar usuario"/>
                 
                </div>
              </div>

              <div class="form-group">
                <div class="cols-sm-12">                             
                    <input type="password" class="ibk_input ibk_input_tp0" name="password" id="password"  placeholder="Contraseña"/>               
                </div>
              </div>

              <div class="ibk-form-group ">
                <div id="Ingresar">
                  <button type="submit" class="btn btn-primary btn btn-block login-button">Ingresar</button>
                </div>
              </div>        
            </form>
          </div>
        </div>
      </div>      
     <!-- End Page -->

      <!-- Footer -->
      <footer id="footer" role="contentinfo">        
        <div class="both"></div>
        <!--pie-copyright-->
        <div class="pie-copyright">
            <div class="both"></div>
            <p class="copyright">
                Copyright 2017 -  Dashboard  - Todos los derechos reservados
            </p>
        </div>
      </footer>
      <!-- End Footer -->    
</body>
</html> 
