
@font-face {
    font-family: 'omnessemibold';
    src: url('../fonts/omnes-semibold-webfont.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omnesregular';
    src: url('../fonts/omnes-regular-webfont.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}







